<li>
  <p>{{this.burger_name}}</p>
  <button class="devour" data-id="{{this.id}}" data-devoured= {{devoured}}>DEVOUR</button>
  <button class = "delete" data-id="{{this.id}}">DELETE</button>
</li>
{{name}}